.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 20px;
  background-clip: padding-box;
}

.create-shoe-link {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 4rem;
  background-color: white;
  color: #2c2c2c;
  z-index: 100;
  border-radius: 100%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.create-shoe-plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid {
  width: 90vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.grid-item {
  position: relative;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 0;
}

.grid-text-container {
  position: absolute;
  height: 99%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  border-radius: 0.5rem;
  visibility: hidden;
}

.grid-item:hover .grid-text-container {
  visibility: visible;
}

.grid-item-text {
  color: white;
  text-align: center;
}

.grid-item-text-title {
  font-weight: 700;
  margin-bottom: -5px;
}

.grid-img {
  width: 100%;
  border-radius: 0.5rem;
}
