.grid {
  padding-top: 25px;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 20px;
  background-clip: padding-box;
}

.create-shoe-link {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 4rem;
  bottom: 6rem;
  background-color: white;
  color: #2c2c2c;
  z-index: 100;
  border-radius: 100%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.create-shoe-plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}

.grid {
  width: 90vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.grid-item {
  position: relative;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 0;
}

.grid-text-container {
  position: absolute;
  height: 99%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  border-radius: 0.5rem;
  visibility: hidden;
}

.grid-item:hover .grid-text-container {
  visibility: visible;
}

.grid-text-container:hover {
  cursor: pointer;
}

.grid-item:hover .grid-item-button {
  visibility: visible;
}

.grid-item-text {
  color: white;
  text-align: center;
}

.grid-item-text-title {
  font-weight: 700;
  margin-bottom: -5px;
}

.grid-item-button {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  visibility: hidden;
  position: relative;
  z-index: 20;
}

.grid-item-button-like {
}

.grid-item-button-delete {
  background: rgb(236, 122, 122);
}

.grid-item-button-edit {
  background: rgb(92, 159, 235);
}

.grid-item-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.grid-item-button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid-item-button:hover {
  cursor: pointer;
}

.grid-img {
  width: 100%;
  border-radius: 0.5rem;
}

@media screen and (max-width: 700px) {
  .grid-text-container {
    visibility: visible;
  }

  .grid-item-text {
    font-size: 30px;
  }

  .grid-item-text-title {
    font-size: 40px;
  }
  .grid-item-buttons {
    justify-content: space-around;
    width: 100%;
  }
  .grid-item-button {
    visibility: visible;

    width: 40px;
    height: 40px;
    padding: 10px;
    opacity: 0.8;
  }

  .grid-item-button-icon {
    width: 30px;
    height: 30px;
  }
}
