.nav-list {
  margin: 0;
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav--logo {
  max-width: 200px;
  text-decoration: none;
}

.nav--logo-name {
  font-family: 'Righteous', cursive;
  font-size: 25px;
  color: #2c2c2c;
  margin: 0;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

.nav-item {
  list-style: none;
  color: #2c2c2c;
}

.nav-item-icon {
  margin-right: 5px;
}

.nav-item a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.nav-item a:hover {
  border-bottom: 0.15rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: black;
  border-style: solid;
}
