.shoe-body {
  height: 90vh;
  background-color: rgb(231, 231, 231);
}

.shoe-container {
  display: flex;
  align-items: center;
  height: inherit;
}

.shoe-image-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.shoe-image {
  border-radius: 0.5rem;
  max-width: 50%;
}

.shoe-image img {
  width: 100%;
  border-radius: 0.5rem;
}

.shoe-image-mobile {
  display: none;
}

.shoe-info-container {
  background-color: white;
  width: 50%;
  height: 100%;
}

.shoe-info {
  margin-left: 50px;
  margin-top: 30px;
}

.shoe-info-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  background-color: rgba(220, 208, 255, 0.5);
  width: 350px;
  padding: 10px;
}

.shoe-info-title svg {
  max-width: 50px;
}

.shoe-info-name {
  margin-bottom: 5px;
  color: rgb(108, 139, 188);
}

.shoe-info-version {
  color: rgb(90, 171, 218);
  margin: 0;
}

.shoe-info-year-condition {
  display: flex;
  gap: 10px;
  color: grey;
}

.shoe-info-year-condition h3 {
  margin-top: 10px;
}

.shoe-info-buttons {
  display: flex;
  margin-left: 50px;
  width: 200px;
  justify-content: space-between;
  margin-top: 30px;
}

.shoe-info-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .shoe-image {
    max-width: 75%;
  }
}

@media screen and (min-width: 1500px) {
  .shoe-image {
    max-width: 40%;
  }
}

@media screen and (min-width: 1850px) {
  .shoe-image {
    max-width: 35%;
  }
}

@media screen and (min-width: 1250px) {
  .shoe-image {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .shoe-container {
    flex-direction: column;
  }
  .shoe-image-container {
    width: 100%;
    height: 750px;
    overflow: hidden;
  }
  .shoe-image-mobile {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    display: block;
  }
  .shoe-image {
    display: none;
  }
  .shoe-info-container {
    width: 100%;
  }
  .shoe-info {
    margin-top: 0;
  }
  .shoe-info-buttons {
    margin-top: 10px;
    width: 70%;
  }
}
