.shoe-body {
  height: 100%;
  background-color: rgb(231, 231, 231);
}

.shoe-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: inherit;
}

.shoe-image-container {
  position: relative;
}

.shoe-image-desktop-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgb(242, 242, 242);
}

.shoe-image {
  border-radius: 0.5rem;
  width: 25%;
  position: fixed;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.shoe-image img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.shoe-image-mobile {
  display: none;
}

.shoe-info-container {
  background-color: white;
  width: 50%;
  height: 100%;
}

.shoe-info-main {
  margin-left: 50px;
}

.shoe-info {
  margin-top: 30px;
}

.shoe-info-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  background-color: rgba(220, 208, 255, 0.5);
  width: 350px;
  padding: 10px;
}

.shoe-info-title svg {
  max-width: 50px;
}

.shoe-info-name {
  margin-bottom: 5px;
  color: rgb(108, 139, 188);
}

.shoe-info-version {
  color: rgb(90, 171, 218);
  margin: 0;
}

.shoe-info-year-condition {
  display: flex;
  gap: 10px;
  color: grey;
}

.shoe-info-year-condition h3 {
  margin-top: 10px;
}

.shoe-info-buttons .shoe-action-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  width: 50%;
}

.shoe-info-buttons .shoe-action-button {
  border-radius: 100%;
  width: 45px;
  height: 45px;
  position: relative;
}

.shoe-info-buttons .shoe-action-button-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shoe-info-comments-container {
  margin-top: 30px;
}

/* @media screen and (max-width: 900px) {
  .shoe-image {
    max-width: 75%;
  }
}

@media screen and (min-width: 1500px) {
  .shoe-image {
    max-width: 40%;
  }
}

@media screen and (min-width: 1850px) {
  .shoe-image {
    max-width: 35%;
  }
} */

/* @media screen and (min-width: 1250px) {
  .shoe-image {
    width: 60%;
  }
} */

@media screen and (max-width: 600px) {
  .shoe-body {
    height: 100%;
  }
  .shoe-container {
    flex-direction: column;
  }
  .shoe-image-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  .shoe-image-mobile {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    display: block;
  }
  .shoe-image-desktop-container {
    display: none;
  }
  .shoe-info-container {
    width: 100%;
  }

  .shoe-info-main {
    margin-left: 20px;
  }

  .shoe-info {
    margin-top: 0;
  }
  .shoe-info-title {
    font-size: 1rem;
  }
  .shoe-info-title svg {
    max-width: 40px;
    margin-top: -10px;
  }
  .shoe-info-name {
    font-size: 1.5rem;
  }
  .shoe-info-version {
    font-size: 1.2rem;
    margin: 0;
  }
  .shoe-info-year-condition h3 {
    font-size: 1rem;
  }

  .shoe-info-buttons .shoe-action-button {
    border-radius: 100%;

    position: relative;
  }
}
